@media screen and (max-width: 1279px) {
  .container-help {
    padding: 0 30px;
  }
  .list {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 39px;
    column-gap: 0;
    .list-item {
      max-width: calc(33.333% - 40px);
      width: 100%;
    }
  }
}

@media screen and (max-width: 780px) {
  .container-help {
    .wrapper {
      padding: 0 5px;
    }
  }
  .list-item {
    width: 30%;
  }
}


@media screen and (max-width: 650px) {
  .help {
    .container-help {
      padding: 0 10px;
    }
    .heading {
      padding: 42px 0;
    }
    .list {
      row-gap: 30px;
      padding: 0 5px;
      margin-bottom: 42px;
      .list-item {
        max-width: calc(50% - 15px);
        img {
          width: 50px;
          height: 50px;
        }
        .list-text {
          font-size: 15px;
          line-height: 110%;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .help {
    .list {
      row-gap: 23px;
      padding: 0 5px;
      margin-bottom: 42px;
    }
  }
}

