@media (max-width: 840px) {
  .about {
    .about-container {
      display: flex;
    }
    .content {
      flex-direction: column-reverse;
      .text {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 80px;
        .heading {
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}



@media (max-width: 560px) {
  .about {
    .content {
      margin-top: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 42px;
      .about_pets-img {
        width: 81.25vw;
        height: 110.5vw;
      }
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 42px;
      }
      .heading {
        text-align: center;
        margin: 0;
      }
      .subheading {
        width: 270px;
        text-align: justify;
      }
    }
  }
}

